		<!-- Begin Footer -->
		<footer>
			<div class="container">
				<div class="row">

					<!-- Contact List -->
					<ul class="contact-list col-md-7">
						<li><i class="fa fa-thumbs-up"></i><a href="#">Available for hire!</a></li>
						<li><i class="fa fa-envelope-o"></i><a href="mailto:ryan@ryanbelisle.com">ryan@ryanbelisle.com</a></li>
						<li><i class="fa fa-mobile-phone"></i><a href="#">(401) 855-2799</a></li>
					</ul><!-- END -->

					<!-- Social List -->
					<ul class="social-list col-md-5">
						<li><a href="https://twitter.com/R33BOOT"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/ryanpbelisle"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://dribbble.com/ryanbelisle"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="http://instagram.com/ryanbelisle"><i class="fa fa-instagram"></i></a></li>		
						<li><a href="https://plus.google.com/+RyanBelislePaul/"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="http://www.linkedin.com/in/ryanbelisle"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://github.com/ryanbelisle"><i class="fa fa-github"></i></a></li>
					</ul><!-- END -->

				</div>
			</div>
		</footer>
		<!-- End Footer -->