{% extends "_layout" %}
{% set title = entry.title %}

{% block meta %}
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ entry.title }}">
	<meta property="og:url" content="{{ entry.url }}">
	<meta property="og:description" content="{{ entry.postIntro | striptags | trim }}">
	<meta property="og:image" content="{{ siteUrl | trim('/') }}﻿{{ entry.postImage[0].url }}">
	<meta name="twitter:site" content="@r33boot">
	<meta name="twitter:card" content="photo">
	<meta name="twitter:creator" content="@r33boot">
{% endblock %}

{% block content %}

	<!-- Begin Small Hero Block -->
	<section class="hero small accent parallax" style="background-image: url(/images/header/header-blog.png);">

		<!-- Heading -->
		<div class="hero-content container">
			<p class="post-meta">
				<span class="date">{{ entry.postDate|date('M d, Y') }}</span>
			</p>
			<h1>{{ entry.title }}</h1>			
			<h3>{{ entry.postSubtitle }}</h3>
		</div><!-- END -->

		<!-- Button -->
		<div class="sub-hero container">
			<span class="line"></span>
		</div><!-- END -->

	</section>
	<!-- End Small Hero Block -->

	<!-- Begin Blog Block -->
	<section class="content container">
		<div class="row">

			<!-- Begin Posts -->
			<div class="col-md-8 col-md-offset-2">

				<!-- Standard Post -->
				<div class="post post-detail image">
					{% if entry.displayPostDetailImage == "1" %}
					{% if entry.postImage | length %}
					<div class="post-media">
						<img src="{{ entry.postImage[0].url }}" alt="{{ entry.title }}">
					</div>	
					{% endif %}	
					{% endif %}		
					{% if entry.displayPostDetailIntro == "1" %}
					<div class="post-intro">
						{{ entry.postIntro }}
					</div>
					{% endif %}
					<div class="post-body">
						{{ entry.postBody }}
					</div>
				</div><!-- END -->

				<div class="post-share">
					<ul class="post-share-list">
						<li><a href="https://twitter.com/intent/tweet?url={{ entry.url | url_encode }}&text={{ entry.title | url_encode }} by @r33boot" class="button accent-alt sharrre-btn popup"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url  | url_encode }}" class="button accent-alt sharrre-btn popup"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://plus.google.com/share?url={{ entry.url  | url_encode }}" class="button accent-alt sharrre-btn popup"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ entry.url  | url_encode }}&title={{ entry.title | url_encode }}&summary={{ entry.postIntro | striptags | trim | url_encode }}" class="button accent-alt sharrre-btn popup"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="http://pinterest.com/pin/create/button/?url={{ entry.url  | url_encode}}&media={{ siteUrl | trim('/') }}﻿{{ entry.postImage[0].url | url_encode }}&description={{ entry.title | url_encode }}: {{ entry.postIntro | striptags | trim | url_encode }}" class="button accent-alt sharrre-btn popup"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="mailto:ryan@ryanbelisle.com?subject={{ entry.title }}&body={{ entry.url | url_encode }}" class="button accent-alt sharrre-btn"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>

				<div class="post-comments">
					{% include "_molecules/disqus" %}
				</div>

			</div><!-- END -->			

		</div>
	</section>
	<!-- End Blog Block -->

{% endblock %}

{% block footerjs %}
<script type="text/javascript">
	var popupCenter = function(url, title, w, h) {
			// Fixes dual-screen position                         Most browsers      Firefox
			var dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : screen.left;
			var dualScreenTop = window.screenTop !== undefined ? window.screenTop : screen.top;

			var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
			var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

			var left = ((width / 2) - (w / 2)) + dualScreenLeft;
			var top = ((height / 3) - (h / 3)) + dualScreenTop;

			var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

			// Puts focus on the newWindow
			if (window.focus) {
				newWindow.focus();
			}
	};

	jQuery(document).ready(function($){

		$('.post-share a.popup').on('click', function(e){
			var _this = $(this);
			popupCenter(_this.attr('href'), _this.find('.text').html(), 580, 470);
			e.preventDefault();
		});

	});							

</script>
{% endblock %}