{% include "_molecules/doctype" %}

	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
		<link rel="home" href="{{ siteUrl }}" />
		<meta name="description" content="Form. Responsive HTML5 template.">
		<meta name="keywords" content="form, responsive, multi-purpose, portfolio, parallax, template, html5, agency">
		<meta name="author" content="Ryan Belisle">
		<meta name="google-site-verification" content="3jol6Dlq5uFGz_zzuuFXAAhp5TDuatP66Ag7WYE6SKs" />
		
		<meta property="og:site_name" content="Ryan Belisle">
		{% block meta %}{% endblock %}

		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
		<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	

		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Montserrat' rel='stylesheet' type='text/css'>

		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/css/styles.min.css">

		{% include "_molecules/google" %}
	</head>

	<body>

		{% include "_molecules/nav" %}
	
		<!-- Begin Main Block -->
		{% block content %}{% endblock %}

		{% include "_molecules/footer" %}

		<!-- Javascript -->
		<script src="/js/scripts.min.js"></script>
		
		{% block footerjs %}{% endblock %}

	</body>

</html>